{% extends '__base__.html' %}

{% block title %}老虎证券投资组合{% endblock %}

{% block beforehead %}

<script>
function initVM(data) {
    var vm = new Vue({
        el: '#vm',
        data: {
            stocks: data.stocks,
        }
    });
    $('#vm').show();
}
$(function() {
    $.getJSON('/api/invest_portfolio_tiger', 
		function (results, err) {
        //if (err) {
        //    return fatal(err);
        //}
        $('#loading').hide();
        initVM(results);
    });
});
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/investment_portfolio_all">全部</a></li>
                <li><a href="/manage/investment_portfolio">申万宏源</a></li>
				<li><a href="/manage/investment_portfolio_citic">中信证券</a></li>
				<li><a href="/manage/investment_portfolio_tiger">老虎证券</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-1-1">
       
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-1-10">股票代码</th>
					<th class="uk-width-1-10">股票余额</th>
					<th class="uk-width-1-10">股票价格</th>
					<th class="uk-width-1-10">股票投入金额</th>  
                </tr>
            </thead>
            <tbody>
                <tr v-repeat="stock: stocks" >                   
					<td>
                        <a target="_blank" v-attr="href: '/stock/'+stock.id" v-text="stock.stock_code"></a>
                    </td>                   
					<td>
                        <span v-text="stock.current_num"></span>
                    </td>
                    <td>
                        <span v-text="stock.current_price"></span>
                    </td>
					<td>
                        <span v-text="stock.current_amount"></span>
                    </td>                    
					
                </tr>
            </tbody>
        </table>

    </div>

{% endblock %}
